/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Styles and html structure from: https://www.youtube.com/watch?v=Vxb_pH33c54
// Here the styling starts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


header {
    background: #fff;
}

.container {
    background: #fafafa;
    // padding-top: 50px;
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 0;
    font-family: 'Roboto', sans-serif;

    .card {
        background:white;
        margin: 0 auto;
        width: 100%;
        // height: 600px;
        // border: 1px solid #ccc;
        // border-radius: 2px;

        .card-header{
            padding: 32px;

            .profile-image{
                display: inline-block;
                height: 80px;
                width: 80px;
                position: relative;
                top: 3px;
                margin-right: 30px;

                .avatar{
                    width: 100%;
                    border-radius: 50%;
                }
            }
            .profile-info{
                display: inline-block;

                .name{
                    font-size: 35px;
                    color: #111;
                    font-weight: 700;
                }

                .location{
                    margin-top: 2px;
                    font-size: 30px;
                    color: #111;
                }
            }
            .menu{
                // font-size: 40px;
                float: right;
                display: inline-block;
                top: 10px;
                position: relative;
                width: 9%;
                .menu-icon{
                    width: 100%;
                }
            }
        }

        .content{
            img{
                width: 100%;
            }
        }

        .card-footer{
            padding: 15px;
            box-sizing: border-box;
            .interaction{
                .heart{
                    display: inline-block;
                    margin-top: 15px;
                    margin-left: 15px;
                    margin-right: 20px;
                    width: 8%;
                    .heart-icon{
                        width: 100%;
                    }
                }
                .dialog{                    
                    display: inline-block;
                    margin-top: 15px;
                    margin-right: 20px;
                    width: 8%;
                    .dialog-icon{
                        width: 100%;
                    }
                }
                .share{
                    display: inline-block;
                    margin-top: 15px;
                    margin-right: 20px;
                    width: 8%;
                    .share-icon{
                        width: 100%;
                    }
                }
                .save{
                    display: inline-block;
                    margin-top: 15px;
                    margin-right: 15px;
                    float: right;
                    width: 8%;
                    .save-icon{
                        width: 100%;
                    }
                }
            }
            .likes{
                color: #111;
                font-size: 30px;
                padding-bottom: 10px;
            }
            .description{
                p{
                    font-size: 30px;
                    margin: 15px;
                }
                .name{
                    font-size: 35 px;
                    font-weight: 700;
                }
            }
            .elapsed-time{
                .time-display{
                    font-size: 25px;
                    font-weight: 500;
                    color: #878787;
                    padding: 15px;
                }
            }
        }
    }
}